# Dependencies
node_modules/

# Build outputs
/dist/
/build/
.esbuild/
.vite/
storybook-static/

# Coverage
/coverage/
/packages/ui/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
*.swp
.idea/
.vscode/

# Env
.env
.env.*
!.env.example

# Caches / Temp
.cache/
.tmp/
**/*.tsbuildinfo

# Misc
**/.DS_Store

audit.json
/packages/ui/dist/
/packages/icons/dist/

*storybook.log
面试难题回答.md

